:root {
   --red:  #E50914;
   --black: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  font-family: 'Times New Roman', Times, serif;
  color: #FFF;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 15px;
  color: var(--red);
  font-family: 'Arial', Times;
  font-weight: bolder;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #FFF;
}

main .movie_principal {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/header.jpg');
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .movie_principal .container_movie {
  margin-left: 15px;
  width: 50%;
}

main .movie_principal .title {
  margin-top: 10%;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

main .movie_principal .description {
  margin-bottom: 40px;
  margin-top: 10px;
}

main .movie_principal .box_buttons .button {
  background-color: rgba(0,0,0,.50);
  border: 1px solid rgba(0,0,0,.50);
  color: #FFF;
  padding: 15px 30px;
  font-size: 12px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all ease 0.3s;
}

main .movie_principal .box_buttons .button:hover {
  border: 1px solid #FFF;
  background-color: #FFF;
  color: var(--black);
}